.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #fff;
}
.light .content__default code {
    background-color: #a130d912;
    color: #a130d9;
}
.content__default img {
    border-radius: 0.3rem;
     -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}