html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
#app {
    height: 100%;
}

.dark .content__default code {
    background-color: #e0c0f31a;
    color: #ca82e1
}
.light .content__default code {
    background-color: #a130d912;
    color: #a130d9;
}
.content__default img {
    border-radius: 0.3rem;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}